<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="/css/style1.css">
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Casa Animalia</title>
</head>
<body>
  <div class="desktop-1">
    <div class="rectangle-27"></div>
    <img class="logo-casa-2-3" src="/assets/logo-casa-2-30.png" />
    <div class="monday-friday">Monday - Friday:</div>
    <div class="_9-00-am-10-00-pm">9:00 AM - 10:00 PM</div>
    <div class="saturday-sunday">Saturday - Sunday</div>
    <div class="_9-00-am-6-00-pm">9:00 AM - 6:00 PM</div>
    <div
      class="casa-animalia-veterinary-clinic-is-your-trusted-partner-for-compassionate-and-personalized-pet-care-ensuring-the-health-and-happiness-of-your-pets-proudly-serving-in-cabanatuan-nueva-ecija"
    >
      Casa Animalia Veterinary Clinic is your trusted partner for compassionate
      and personalized pet care, ensuring the health and happiness of your pets,
      proudly serving in Cabanatuan, Nueva Ecija.
    </div>
    <div class="casaanimalia-com">casaanimalia.com</div>
    <div class="sitemap">Sitemap</div>
    <a href="#home" class="home">Home</a>
    <a href="#aboutus" class="about-us">About us</a>
    <a href="#servicesA" class="services12">Services</a>
    <a href="#ourteam" class="our-team">Our team</a>
    <a href="#gallery" class="clinic-gallery">Clinic Gallery</>
    <a href="#contactus" class="contact-us">Contact us</a>
    <a href="#testi" class="our-testimonials">Our Testimonials</a>
    <img class="rectangle-28" src="./assets/rectangle-280.svg" />
    <a href="contact.html" class="contact-us2">Contact Us</a>
    <div class="our-services">Our Services</div>
    <div class="pet-grooming">Pet Grooming</div>
    <div class="health-check-ups">Health Check-ups</div>
    <div class="vaccination">Vaccination</div>
    <div class="consultation">Consultation</div>
    <div class="desexation">Desexation</div>
    <div class="get-in-touch">Get in touch</div>
    <a id="footer" class="_63-9150811294" href="#footer" onclick="copyToClipboard('09150811294')">63+ 9150811294 | Click to Copy</a>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=casaanimalia@yahoo.com" class="casaanimalia-yahoo-com" target="_blank" rel="noopener noreferrer">casaanimalia@yahoo.com</a>
    <a href="https://maps.app.goo.gl/o8qG6mceSqgrJpVp8" class="km-111-h-concepcion-cabanatuan-city-nueva-ecija" target="_blank" rel="noopener noreferrer">KM 111 H Concepcion, Cabanatuan City, Nueva Ecija</a>
    <a href="https://www.facebook.com/p/Casa-Animalia-Cabanatuan-100057451239318/" class="casa-animalia-cabanatuan" target="_blank" rel="noopener noreferrer">Casa Animalia Cabanatuan</a>
    <div class="email-1572-svgrepo-com">
      <img class="page-1" src="./assets/page-10.svg" />
    </div>
    <img class="phone-svgrepo-com" src="./assets/phone-svgrepo-com0.svg" />
    <img class="location-pin-svgrepo-com" src="./assets/location-pin-svgrepo-com0.svg" />
    <img class="facebook-svgrepo-com" src="./assets/facebook-svgrepo-com0.svg" />
    <div class="rectangle-29"></div>
    <div class="rectangle-30"></div>
    <div class="rectangle-31"></div>
    <img class="untitled-design-18-1" src="./assets/CAT&DOG.png" />
    <div class="lowerbanner2">
      <div class="rectangle-25"></div>
      <div
        class="book-your-first-consultation-with-us-today-we-d-love-to-get-to-know-you-and-your-four-legged-family-member-whatever-your-pet-s-needs-may-be-count-on-us-to-deliver-the-top-care-options"
      >
        Book your first consultation with us today, we&#039;d love to get to know
        you and your four-legged family member! Whatever your pet’s needs may be,
        count on us to deliver the top care options.
      </div>
      <div class="book-a-reservation-today">Book a reservation today</div>
      <img class="rectangle-26" src="./assets/rectangle-260.svg" />
      <a href="contact.html" class="get-in-touch2">Get in touch</a>
      <img class="untitled-design-14-1" src="./assets/untitled-design-14-10.png" />
      <img class="untitled-design-15-1" src="./assets/untitled-design-15-10.png" />
      <img class="image-17" src="./assets/image-170.png" />
    </div>
    <div class="rectangle-14"></div>
    <div class="l-ocation">
      <img class="icon-pin-alt" src="./assets/icon-pin-alt0.svg" />
      <div class="visit-our-clinic" id="contactus">Visit our Clinic</div>
            <iframe 
        class="image-15"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9690.017135242504!2d120.94784067104533!3d15.458282857711662!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397294f1aadb085%3A0x6ff6ab2972b3e181!2sCasa%20Animalia%20Cabanatuan!5e0!3m2!1sen!2sph!4v1729579806625!5m2!1sen!2sph" 
        width="1349" 
        height="769" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>

      <div class="km-111-h-concepcion-cabanatuan-city-nueva-ecija2">
        Km111 h. concepcion, Cabanatuan City, Nueva Ecija
      </div>
      <div class="rectangle-18"></div>
      <div class="contact-us3">Contact Us</div>
      <form id="contact-form" method="POST" action="/submit-contact">
          <input type="text" class="rectangle-19" placeholder="Enter your name here" name="name" required>
          <input type="text" class="rectangle-20" placeholder="Enter your contact number here" name="contact" required>
          <input type="email" class="rectangle-21" placeholder="Enter your email here" name="email" required>
          <textarea class="rectangle-22" placeholder="Enter your message here" name="message" required></textarea>
          <button type="submit" class="submit">Submit</button>
      </form>      
      
<div class="name">Name</div>
<div class="contact-number">Contact Number</div>
<div class="email">Email</div>
<div class="message">Message</div>

    <div class="gallery2" >
      <div class="fur-ever-memories-from-casa-animalia" id="gallery">
        Fur-Ever Memories from Casa Animalia
      </div>
      <img class="image-11" src="./assets/image-110.png" />
      <img class="image-10" src="./assets/image-100.png" />
      <img class="image-9" src="./assets/image-90.png" />
      <img class="image-13" src="./assets/image-130.png" />
      <img class="image-8" src="./assets/image-80.png" />
      <img class="image-12" src="./assets/image-120.png" />
      <img class="image-14" src="./assets/image-140.png" />
    </div>
    <div class="rectangle-142"></div>
    <div class="testimonial2">
      <div class="words-from-our-client" id="testi">Words from our Client</div>
      <div
        class="here-is-some-sample-of-our-facebook-reviews-for-casa-animalia-veterinary-clinic"
      >
        Here is some sample of our Facebook reviews for Casa Animalia Veterinary
        Clinic.
        <br />
      </div>
      <div id="comment-container">
        <div class="feedback-1">
          “Thank you to your wonderful staff and vets for accommodating us very
          well. Sana po ay mag tuloy-tuloy and recovery ni Loki, and may your clinics prosper more clients. Sulit and mag pa vet sa inyo.”<br><br>
          <span class="customer1">-Deaver</span>
        </div>
        <div class="feedback-2">
          “Napaka-nakakabighaning karanasan ang aking nakuha sa Casa Animalia. 
          Mula sa pagtanggap sa akin ng mga staff hanggang sa pag-aalaga sa aking 
          alagang hayop, talagang ramdam ko ang kanilang pagmamahal at dedikasyon sa mga hayop.”<br><br>
          <span class="customer1">-Gillian</span>
        </div>
        <div class="feedback-3">
          “Best Vet clinic in Cabanatuan napaka gagaling nyo po mag handle ng mga pets, and sa mga
          assistants which is very accomodating, thank you alls.”<br><br>
          <span class="customer1">-Sean</span>
        </div>
      </div>
      
    <div class="team2">
      <div class="meet-the-team">Meet the Casa Animalia Family</div>
      <div class="meet-our-dedicated-team-at-casa-animalia-led-by-dr-rachelle-garcia-we-provide-exceptional-care-and-personalized-attention-to-ensure-your-pets-are-in-the-best-hands">
        Meet our dedicated team at Casa Animalia! Led by Dr. Rachelle Garcia, we provide exceptional care and personalized attention to ensure your pets are in the best hands.
      </div>
      <img class="image-4 slide-in" src="./assets/1.png" alt="Team Member 4" />
      <img class="image-5 slide-in" src="./assets/2.png" alt="Team Member 5" />
      <img class="image-7 slide-in" src="./assets/3.png" alt="Team Member 7" />
      <img class="image-a slide-in" src="./assets/2.png" alt="Team Member 5" />
      <img class="image-b slide-in" src="./assets/3.png" alt="Team Member 7" />
      <img class="image-c slide-in" src="./assets/1.png" alt="Team Member 4" />
    </div>
    
  
    <div class="rectangle-9"></div>
    <div class="services3">
      <div class="casa-animalia-services" id="servicesA">Casa Animalia Services</div>
      <div
        class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives"
      >
        <span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span"
          >
            We offer a variety of services to ensure your pets receive the best
            care possible. From professional
          </span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span2"
          >
            grooming
          </span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span3"
          >
            to keep them looking and feeling great, to thorough
          </span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span4"
          >
            health check-ups
          </span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span5"
          >
            and
          </span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span6"
          >
            consultations
          </span>
          <span
            class="we-offer-a-variety-of-services-to-ensure-your-pets-receive-the-best-care-possible-from-professional-grooming-to-keep-them-looking-and-feeling-great-to-thorough-health-check-ups-and-consultations-with-dr-rachelle-garcia-we-re-here-for-all-their-needs-our-clinic-also-provides-essential-vaccinations-to-protect-your-pets-from-diseases-and-desexing-services-to-support-their-long-term-well-being-we-re-committed-to-helping-your-pets-live-happy-healthy-lives-span7"
          >
            with Dr. Rachelle Garcia, we’re here for all their needs. Our clinic
            also provides essential vaccinations to protect your pets from
            diseases, and desexing services to support their long-term well-being.
            We’re committed to helping your pets live happy, healthy lives.
          </span>
        </span>
      </div>
      <div
        class="our-grooming-services-at-casa-animalia-ensure-your-pets-are-clean-comfortable-and-looking-their-best-from"
      >
        Our grooming services at Casa Animalia ensure your pets are clean,
        comfortable, and looking their best. From
      </div>
      <div
        class="at-casa-animalia-our-health-check-ups-are-designed-to-monitor-your-pet-s-overall-well-being-with-regular"
      >
        At Casa Animalia, our health check-ups are designed to monitor your pet’s
        overall well-being. With regular,
      </div>
      <div
        class="thorough-examinations-we-help-detect-potential-issues-early-ensuring-your-pets-stay-healthy-and-happy"
      >
        thorough examinations, we help detect potential issues early, ensuring
        your pets stay healthy and happy.
      </div>
      <div
        class="bathing-to-coat-trims-we-provide-gentle-care-to-keep-your-furry-friends-feeling-refreshed-and-pampered"
      >
        bathing to coat trims, we provide gentle care to keep your furry friends
        feeling refreshed and pampered.
      </div>
      <div class="pet-grooming2">Pet Grooming</div>
      <div
        class="we-offer-personalized-consultations-to-address-all-your-pet-s-health-needs-whether-you-re-concerned"
      >
        We offer personalized consultations to address all your pet’s health
        needs. Whether you&#039;re concerned
      </div>
      <div
        class="about-their-behavior-diet-or-overall-wellness-our-team-is-here-to-provide-expert-advice-and-tailored-care-solutions"
      >
        about their behavior, diet, or overall wellness, our team is here to
        provide expert advice and tailored care solutions.
      </div>
      <div class="consultation2">Consultation</div>
      <div
        class="we-provide-desexing-services-to-help-manage-your-pet-s-health-and-prevent-unwanted-litters"
      >
        We provide desexing services to help manage your pet’s health and prevent
        unwanted litters.
      </div>
      <div
        class="this-routine-procedure-not-only-reduces-the-risk-of-certain-cancers-and-infections-but-also-promotes-better-behavior-and-a-longer-healthier-life-for-your-pet"
      >
        This routine procedure not only reduces the risk of certain cancers and
        infections but also promotes better behavior and a longer, healthier life
        for your pet.
      </div>
      <div class="desexing">Desexing</div>
      <div
        class="our-vaccination-service-provides-essential-immunizations-to-protect-your-pets-from-harmful"
      >
        Our vaccination service provides essential immunizations to protect your
        pets from harmful
      </div>
      <div
        class="diseases-like-rabies-distemper-and-parvovirus-keeping-your-pet-s-vaccinations-up-to-date-helps-ensure-their-long-term-health-and-safety"
      >
        diseases like rabies, distemper, and parvovirus. Keeping your pet’s
        vaccinations up to date helps ensure their long-term health and safety.
      </div>
      <div class="vaccination2">Vaccination</div>
      <div class="health-check-ups2">Health Check-ups</div>
      <img class="trimmer" src="./assets/trimmer0.svg" />
      <div class="stetoskop-doctor-hospita-svgrepo-com">
        <img class="x-35-0" src="./assets/x-35-00.svg" />
        <div
          class="pets-hotel-circular-symbol-with-a-dog-and-a-verification-sign-inside-a-heart-svgrepo-com"
        >
          <img class="group" src="./assets/group0.svg" />
        </div>
      </div>
      <img
        class="consultant-consult-business-consultant-document-review-svgrepo-com"
        src="./assets/consultant-consult-business-consultant-document-review-svgrepo-com0.svg"
      />
      <img class="scissors-svgrepo-com" src="./assets/scissors-svgrepo-com0.svg" />
      <div class="syringe-vaccine-svgrepo-com">
        <img class="group2" src="./assets/group1.svg" />
      </div>
      <img class="untitled-design-12-1" src="./assets/untitled-design-12-10.png" />
    </div>
    <div class="casa-animalia-care-you-can-trust">
      Casa Animalia: Care You Can Trust!
    </div>
    <div
      class="welcome-to-casa-animalia-your-trusted-partner-in-pet-care-led-by-dr-rachelle-garcia-our-dedicated-team-is-committed-to-providing-exceptional-veterinary-services-for-your-beloved-pets-our-convenient-reservation-system-makes-it-easy-to-schedule-appointments-online-ensuring-your-pet-receives-the-care-they-deserve-without-any-hassle-at-casa-animalia-our-compassionate-and-highly-trained-staff-are-always-ready-to-assist-offering-personalized-attention-and-expert-care-for-every-pet-with-just-a-few-clicks-you-can-manage-your-pet-s-visits-and-rely-on-our-team-to-provide-timely-thorough-and-loving-care-book-today-and-experience-the-ease-and-reliability-of-casa-animalia"
    >
      Welcome to Casa Animalia, your trusted partner in pet care. Led by Dr.
      Rachelle Garcia, our dedicated team is committed to providing exceptional
      veterinary services for your beloved pets. Our convenient reservation system
      makes it easy to schedule appointments online, ensuring your pet receives
      the care they deserve without any hassle.
      <br />
      <br />
      At Casa Animalia, our compassionate and highly trained staff are always
      ready to assist, offering personalized attention and expert care for every
      pet. With just a few clicks, you can manage your pet&#039;s visits and rely
      on our team to provide timely, thorough, and loving care. Book today and
      experience the ease and reliability of Casa Animalia!
    </div>
    <div class="rectangle-4"></div>
    <div class="rectangle-5"></div>
    <div class="working-hours">Working Hours:</div>
    <div
      class="reservation-now-available-throughout-the-day-for-your-convenience"
    >
      Reservation now available throughout the day for your convenience.
    </div>
    <div class="contact-us4">Contact Us</div>
    <div class="connect-with-us-through-our-email-or-facebook">
      Connect with us through our email or Facebook
    </div>
    <div class="monday-friday2">Monday - Friday</div>
    <div class="_9-00-am-to-10-00-pm">9:00 AM to 10:00 PM</div>
    <div class="saturday-sunday2">Saturday - Sunday</div>
    <div class="_9-00-am-to-6-00-pm">9:00 AM to 6:00 PM</div>
    <button class="casaanimalia-yahoo-com2" onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=casaanimalia@yahoo.com', '_blank');">
      <span style="margin-left: 60px;">casaanimalia@yahoo.com</span>
  </button>
      <button class="casa-animalia-veterinary-clinic" onclick="window.open('https://www.facebook.com/p/Casa-Animalia-Cabanatuan-100057451239318/', '_blank');">
        <span style="margin-left: 60px;">Casa Animalia Veterinary Clinic</span>
      </button>      
    <button class="rectangle-8" onclick="location.href='reservation.html'">BOOK A RESERVATION TODAY &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
    <img class="icon-chevron-right" src="./assets/icon-chevron-right0.svg" />
    <img class="icon-chevron-right2" src="./assets/icon-chevron-right1.svg" />
  </button>  
  <button class="services" onclick="location.href='/services'" id="ourteam">More about our Services &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
    <img class="icon-chevron-right-services" src="./assets/icon-chevron-right0.svg" />
    <img class="icon-chevron-right2-services" src="./assets/icon-chevron-right1.svg" />
  </button>  
    <div class="email-1572-svgrepo-com2">
      <img class="page-12" src="./assets/page-11.svg" />
    </div>
    <img class="facebook-svgrepo-com2" src="./assets/facebook-svgrepo-com1.svg" />
    <div class="rectangle-10"></div>
    <div class="hero2">
      <div class="_700-1"></div>
      <img class="untitled-design-19-1" src="./assets/untitled-design-19-10.png" />
      <div class="herotext-button">
        <div class="easily-book-vet-appointments-for-your-pet-s-care">
          Easily book vet appointments for your pet’s care.
        </div>
    </div>
    <div class="rectangle-1" id="home"></div>
    <div class="na-vi">
      <a href="#home" class="home2">HOME</a>  
      <a href="/services" class="services4">SERVICES</a>
      <a href="#contact" class="contact-us5">CONTACT US</a>
      <a href="#reservation" class="reservation">RESERVATION</a>
      <div class="button-container-custom">
        <button class="btn login-btn-custom" onclick="location.href='/login';">Login</button>
        <button class="btn signup-btn-custom" onclick="location.href='/register';">Sgn up</button>
    </div>
    <div class="logo">
      <img class="logo-casa-2-2" src="./assets/logo-casa-2-20.png" />
      <div class="casa-animalia-veterinary-clinic2">
        <span>
          <span class="casa-animalia-veterinary-clinic-2-span">
            CASA
            <br />
            ANIMALIA
            <br />
          </span>
          <span class="casa-animalia-veterinary-clinic-2-span2">
            Veterinary Clinic
          </span>
        </span>
      </div>
    </div>
    <div class="container">
      <div class="button-container">
        <div class="dog">
          <div class="tail"></div>
          <div class="body"></div>
          <div class="head">
            <div class="eyes">
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <div class="nuzzle">
              <div class="mouth">
                <div class="tongue"></div>
              </div>
              <div class="nose">
                <div class="nostrils"></div>
                <div class="highlight"></div>
              </div>
            </div>
          </div>
          <div class="ears">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </div>
        <button onclick="location.href='reservation.html'" id="aboutus">
          BOOK A RESERVATION
        </button>
        <div class="paw"></div>
        <div class="paw top"></div>
      </div>
    </div>


    <script>
      
      const teamContainer = document.querySelector('.team2');
      const images = document.querySelectorAll('.team2 img');
      const imageWidth = 300; // Width of each image
      const gap = 80; // Gap between images
      const animationDuration = 8; // Total duration for the full loop in seconds
      
      let isPaused = false; // Flag to track if animation is paused
      
      // Set initial position of images
      images.forEach((image, index) => {
          image.style.left = `${(index * (imageWidth + gap)) + window.innerWidth}px`; // Start off-screen to the right
      });
      
      // Function to move images
      function moveImages() {
          if (isPaused) return; // Exit if paused
      
          images.forEach((image) => {
              // Get the current left position and calculate the new position
              const currentLeft = parseFloat(image.style.left);
              image.style.left = `${currentLeft - (imageWidth + gap) / (animationDuration * 60)}px`; // Move left
      
              // Check if the image is completely out of view
              if (currentLeft + imageWidth < 0) {
                  // Remove the transition temporarily
                  image.style.transition = 'none'; 
                  
                  // Move the current image to the end after the last visible image
                  image.style.left = `${getLastVisibleRightEdge()}px`;
      
                  // Restore the transition for smooth movement afterward
                  setTimeout(() => {
                      image.style.transition = ''; // Restore the default transition
                  }, 0);
              }
          });
      }
      
      // Function to get the right edge of the last visible image
      function getLastVisibleRightEdge() {
          let lastRightEdge = 0; // Start at 0 to track the rightmost edge
          images.forEach((image) => {
              const otherLeft = parseFloat(image.style.left);
              // Only consider images that are still on-screen (right of the left edge)
              if (otherLeft + imageWidth > 0) {
                  lastRightEdge = Math.max(lastRightEdge, otherLeft + imageWidth + gap); // Update to the right edge plus gap
              }
          });
          // Return the position for the new image to come in
          return lastRightEdge; // Ensure no extra gap added here
      }
      
      // Add hover effect to enlarge image smoothly
      images.forEach((image) => {
          image.addEventListener('mouseenter', () => {
              // Scale up the image
              image.style.transform = 'scale(1.1)';
              // Pause the movement for all images
              isPaused = true;
          });
      
          image.addEventListener('mouseleave', () => {
              // Reset scale
              image.style.transform = 'scale(1)';
              // Resume the movement for all images
              isPaused = false;
          });
      });
      
      // Start the animation loop
      function animate() {
          moveImages();
          requestAnimationFrame(animate);
      }
      
      // Start the animation
      animate();

      const comments = document.querySelectorAll('#comment-container > div');
let currentIndex = 0;

// Function to show the next comment
function showNextComment() {
  // Hide all comments
  comments.forEach(comment => comment.style.display = 'none');

  // Show the current comment
  comments[currentIndex].style.display = 'block';

  // Update the index to the next comment
  currentIndex = (currentIndex + 1) % comments.length;
}

// Start by showing the first comment
showNextComment();

// Set the interval to show the next comment every 15 seconds
setInterval(showNextComment, 8000); // 15000 milliseconds = 15 seconds


function copyToClipboard(text) {
    // Create a temporary textarea element
    const textarea = document.createElement('textarea');
    textarea.value = text; // Set the value to the text to be copied
    document.body.appendChild(textarea); // Append to the body
    textarea.select(); // Select the text
    document.execCommand('copy'); // Execute the copy command
    document.body.removeChild(textarea); // Remove the textarea
    alert('Copied to clipboard: ' + text); // Optional: alert to show success
}

document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});


      </script>

<script>
  const form = document.getElementById('contact-form');

  form.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form from submitting the traditional way

    // Collect form data
    const formData = new FormData(form);

    // Send data to the server using fetch
    fetch('/submit-contact', {
      method: 'POST',
      body: new URLSearchParams(formData),  // Convert FormData to URL-encoded string
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'  // Required for Express to parse body
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        // Display success message (you can replace this with a better UI notification)
        alert(data.message);
        form.reset();  // Optional: Reset the form fields after successful submission
      } else {
        // Display error message
        alert('Error: ' + data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('Well get on you as soon as possible.');
    });
  });
</script>

      

  
</body>
</html>

