<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Casa Animalia Veterinary Clinic - Services</title>
  <link rel="stylesheet" href="/css/style2.css" />
</head>
<body>
  <!-- Navigation -->
  <div class="rectangle-1" id="home"></div>
  <div class="na-vi">
    <a href="/" class="home2">HOME</a>  
    <a href="/services" class="services4">SERVICES</a>
    <a href="#contact" class="contact-us5">CONTACT US</a>
    <a href="#reservation" class="reservation">RESERVATION</a>
    <div class="button-container-custom">
      <button class="btn login-btn-custom">Login</button>
      <button class="btn signup-btn-custom">Signup</button>
    </div>      
  </div>
  
  <!-- Logo and Title -->
  <div class="logo">
    <img class="logo-casa-2-2" src="./assets/logo-casa-2-20.png" />
    <div class="casa-animalia-veterinary-clinic2">
      <span>
        <span class="casa-animalia-veterinary-clinic-2-span">
          CASA
          <br />
          ANIMALIA
          <br />
        </span>
        <span class="casa-animalia-veterinary-clinic-2-span2">
          Veterinary Clinic
        </span>
      </span>
    </div>
  </div>
  
  <div class="group-2">
    <div class="footer">
      <div class="rectangle-27"></div>
      <img class="logo-casa-2-3" src="./assets/logo-casa-2-30.png" />
      <div class="monday-friday">Monday - Friday:</div>
      <div class="_9-00-am-10-00-pm">9:00 AM - 10:00 PM</div>
      <div class="saturday-sunday">Saturday - Sunday</div>
      <div class="_9-00-am-6-00-pm">9:00 AM - 6:00 PM</div>
      <div
        class="casa-animalia-veterinary-clinic-is-your-trusted-partner-for-compassionate-and-personalized-pet-care-ensuring-the-health-and-happiness-of-your-pets-proudly-serving-in-cabanatuan-nueva-ecija"
      >
        Casa Animalia Veterinary Clinic is your trusted partner for compassionate
        and personalized pet care, ensuring the health and happiness of your pets,
        proudly serving in Cabanatuan, Nueva Ecija.
      </div>
      <div class="casaanimalia-com">casaanimalia.com</div>
      <div class="sitemap">Sitemap</div>
      <a href="/home" class="home">Home</a>
      <a href="#aboutus" class="about-us">About us</a>
      <a href="#servicesA" class="services12">Services</a>
      <a href="#ourteam" class="our-team">Our team</a>
      <a href="#gallery" class="clinic-gallery">Clinic Gallery</>
      <a href="#contactus" class="contact-us">Contact us</a>
      <a href="#testi" class="our-testimonials">Our Testimonials</a>
      <img class="rectangle-28" src="./assets/rectangle-280.svg" />
      <a href="contact.html" class="contact-us2">Contact Us</a>
      <div class="our-services">Our Services</div>
      <div class="pet-grooming">Pet Grooming</div>
      <div class="health-check-ups">Health Check-ups</div>
      <div class="vaccination">Vaccination</div>
      <div class="consultation">Consultation</div>
      <div class="desexation">Desexation</div>
      <div class="get-in-touch">Get in touch</div>
      <a id="footer" class="_63-9150811294" href="#footer" onclick="copyToClipboard('09150811294')">63+ 9150811294 | Click to Copy</a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=casaanimalia@yahoo.com" class="casaanimalia-yahoo-com" target="_blank" rel="noopener noreferrer">casaanimalia@yahoo.com</a>
      <a href="https://maps.app.goo.gl/o8qG6mceSqgrJpVp8" class="km-111-h-concepcion-cabanatuan-city-nueva-ecija" target="_blank" rel="noopener noreferrer">KM 111 H Concepcion, Cabanatuan City, Nueva Ecija</a>
      <a href="https://www.facebook.com/p/Casa-Animalia-Cabanatuan-100057451239318/" class="casa-animalia-cabanatuan" target="_blank" rel="noopener noreferrer">Casa Animalia Cabanatuan</a>
      <div class="email-1572-svgrepo-com">
        <img class="page-1" src="./assets/page-10.svg" />
      </div>
      <img class="phone-svgrepo-com" src="./assets/phone-svgrepo-com0.svg" />
      <img class="location-pin-svgrepo-com" src="./assets/location-pin-svgrepo-com0.svg" />
      <img class="facebook-svgrepo-com" src="./assets/facebook-svgrepo-com0.svg" />
      <div class="rectangle-29"></div>
      <div class="rectangle-30"></div>
      <div class="rectangle-31"></div>
      <img class="untitled-design-18-1" src="./assets/CAT&DOG.png" />
  
    </div>
    <div class="group-1">
      <div class="_1-stservices">
        <div class="services2">SERVICES</div>
        <div class="grooming">Grooming</div>
        <div class="consultation2">Consultation</div>
        <img class="image-18" src="./assets/image-180.png" />
        <img class="image-19" src="./assets/image-190.png" />
        <div
          class="our-consultation-services-at-casa-animalia-provide-thorough-health-assessments-for-your-pets-whether-you-re-seeking-advice-on-preventive-care-nutrition-or-behavior-our-experienced-veterinarians-are-here-to-help-we-conduct-detailed-physical-exams-and-address-any-concerns-you-may-have-about-your-pet-s-well-being-from-diagnosing-illnesses-to-offering-guidance-on-pet-care-routines-our-team-is-dedicated-to-providing-the-best-possible-care-for-your-furry-family-members"
        >
          Our consultation services at Casa Animalia provide thorough health
          assessments for your pets. Whether you&#039;re seeking advice on
          preventive care, nutrition, or behavior, our experienced veterinarians
          are here to help. We conduct detailed physical exams and address any
          concerns you may have about your pet’s well-being. From diagnosing
          illnesses to offering guidance on pet care routines, our team is
          dedicated to providing the best possible care for your furry family
          members.
        </div>
        <div class="deworming">Deworming</div>
        <div
          class="deworming-is-a-vital-part-of-your-pet-s-health-care-routine-our-deworming-services-help-protect-your-pets-from-internal-parasites-that-can-cause-serious-health-issues-we-perform-thorough-examinations-and-recommend-appropriate-deworming-treatments-based-on-your-pet-s-age-size-and-lifestyle-regular-deworming-not-only-ensures-your-pet-s-comfort-but-also-contributes-to-their-overall-health-and-well-being-trust-our-team-to-provide-safe-and-effective-deworming-solutions-to-keep-your-furry-friends-happy-and-healthy"
        >
          Deworming is a vital part of your pet&#039;s health care routine. Our
          deworming services help protect your pets from internal parasites that
          can cause serious health issues. We perform thorough examinations and
          recommend appropriate deworming treatments based on your pet’s age,
          size, and lifestyle. Regular deworming not only ensures your pet&#039;s
          comfort but also contributes to their overall health and well-being.
          Trust our team to provide safe and effective deworming solutions to keep
          your furry friends happy and healthy.
        </div>
        <div
          class="at-casa-animalia-our-grooming-services-ensure-that-your-pets-not-only-look-their-best-but-also-feel-great-we-offer-a-full-range-of-grooming-options-including-bathing-hair-trimming-nail-clipping-ear-cleaning-and-coat-brushing-our-professional-groomers-use-gentle-pet-friendly-products-ensuring-a-stress-free-experience-for-your-furry-companions-whether-it-s-a-routine-groom-or-a-special-pampering-session-we-tailor-our-services-to-meet-your-pet-s-specific-needs"
        >
          At Casa Animalia, our grooming services ensure that your pets not only
          look their best but also feel great. We offer a full range of grooming
          options, including bathing, hair trimming, nail clipping, ear cleaning,
          and coat brushing. Our professional groomers use gentle, pet-friendly
          products, ensuring a stress-free experience for your furry companions.
          Whether it’s a routine groom or a special pampering session, we tailor
          our services to meet your pet&#039;s specific needs.
        </div>
        <div class="vaccination2">Vaccination</div>
        <div
          class="we-prioritize-your-pet-s-health-through-our-comprehensive-vaccination-services-vaccinations-are-essential-for-protecting-your-pets-against-various-infectious-diseases-and-ensuring-their-long-term-well-being-our-veterinary-team-provides-customized-vaccination-plans-based-on-your-pet-s-age-lifestyle-and-health-history-we-offer-core-vaccinations-as-well-as-optional-vaccines-tailored-to-your-pet-s-needs-trust-us-to-keep-your-furry-companions-safe-and-healthy-with-our-expert-vaccination-services"
        >
          We prioritize your pet&#039;s health through our comprehensive
          vaccination services. Vaccinations are essential for protecting your
          pets against various infectious diseases and ensuring their long-term
          well-being. Our veterinary team provides customized vaccination plans
          based on your pet&#039;s age, lifestyle, and health history. We offer
          core vaccinations, as well as optional vaccines tailored to your
          pet&#039;s needs. Trust us to keep your furry companions safe and
          healthy with our expert vaccination services.
        </div>
        <img class="image-21" src="./assets/image-210.png" />
        <div
          class="we-prioritize-your-pet-s-health-through-our-comprehensive-vaccination-services-vaccinations-are-essential-for-protecting-your-pets-against-various-infectious-diseases-and-ensuring-their-long-term-well-being-our-veterinary-team-provides-customized-vaccination-plans-based-on-your-pet-s-age-lifestyle-and-health-history-we-offer-core-vaccinations-as-well-as-optional-vaccines-tailored-to-your-pet-s-needs-trust-us-to-keep-your-furry-companions-safe-and-healthy-with-our-expert-vaccination-services"
        >
          We prioritize your pet&#039;s health through our comprehensive
          vaccination services. Vaccinations are essential for protecting your
          pets against various infectious diseases and ensuring their long-term
          well-being. Our veterinary team provides customized vaccination plans
          based on your pet&#039;s age, lifestyle, and health history. We offer
          core vaccinations, as well as optional vaccines tailored to your
          pet&#039;s needs. Trust us to keep your furry companions safe and
          healthy with our expert vaccination services.
        </div>
        <img class="image-24" src="./assets/image-240.png" />
        <div class="desexing">Desexing</div>
        <div
          class="desexing-is-an-important-procedure-for-pet-owners-looking-to-prevent-unwanted-litters-and-promote-the-health-and-well-being-of-their-pets-our-desexing-services-include-spaying-for-female-pets-and-neutering-for-male-pets-these-procedures-not-only-help-control-the-pet-population-but-also-reduce-the-risk-of-certain-health-issues-such-as-reproductive-cancers-and-behavioral-problems-our-skilled-veterinary-team-ensures-that-each-procedure-is-performed-safely-and-with-the-utmost-care-providing-post-operative-support-to-ensure-a-smooth-recovery-for-your-furry-companions"
        >
          Desexing is an important procedure for pet owners looking to prevent
          unwanted litters and promote the health and well-being of their pets.
          Our desexing services include spaying for female pets and neutering for
          male pets. These procedures not only help control the pet population but
          also reduce the risk of certain health issues, such as reproductive
          cancers and behavioral problems. Our skilled veterinary team ensures
          that each procedure is performed safely and with the utmost care,
          providing post-operative support to ensure a smooth recovery for your
          furry companions.
        </div>
        <img class="image-23" src="./assets/image-230.png" />
        <div class="surgery">Surgery</div>
        <div
          class="our-surgical-services-are-designed-to-provide-the-highest-standard-of-care-for-your-pets-whether-it-s-a-routine-procedure-or-an-emergency-surgery-our-experienced-veterinary-team-is-equipped-with-the-latest-technology-and-techniques-to-ensure-your-pet-s-safety-and-comfort-we-perform-a-wide-range-of-surgeries-including-spays-neuters-tumor-removals-and-orthopedic-procedures-before-any-surgery-we-conduct-thorough-evaluations-to-develop-a-personalized-treatment-plan-post-operative-care-and-follow-up-are-also-prioritized-to-ensure-a-smooth-recovery-process-for-your-beloved-companions"
        >
          Our surgical services are designed to provide the highest standard of
          care for your pets. Whether it&#039;s a routine procedure or an
          emergency surgery, our experienced veterinary team is equipped with the
          latest technology and techniques to ensure your pet&#039;s safety and
          comfort. We perform a wide range of surgeries, including spays, neuters,
          tumor removals, and orthopedic procedures. Before any surgery, we
          conduct thorough evaluations to develop a personalized treatment plan.
          Post-operative care and follow-up are also prioritized to ensure a
          smooth recovery process for your beloved companions.
        </div>
        <img class="image-27" src="./assets/image-270.png" />
        <img class="image-29" src="./assets/image-290.png" />
      </div>
      <div class="_2-ndservices">
        <div class="x-ray">X-ray</div>
        <div
          class="our-state-of-the-art-x-ray-services-provide-essential-insights-into-your-pet-s-health-x-rays-are-a-non-invasive-diagnostic-tool-that-helps-us-visualize-bones-organs-and-other-internal-structures-allowing-for-accurate-diagnosis-of-various-conditions-whether-it-s-detecting-fractures-assessing-joint-health-or-identifying-potential-tumors-our-skilled-veterinary-team-is-trained-to-interpret-x-ray-images-to-guide-treatment-plans-we-prioritize-your-pet-s-comfort-throughout-the-process-and-ensure-that-any-necessary-follow-up-care-is-provided-for-optimal-health-outcomes"
        >
          Our state-of-the-art X-ray services provide essential insights into your
          pet&#039;s health. X-rays are a non-invasive diagnostic tool that helps
          us visualize bones, organs, and other internal structures, allowing for
          accurate diagnosis of various conditions. Whether it&#039;s detecting
          fractures, assessing joint health, or identifying potential tumors, our
          skilled veterinary team is trained to interpret X-ray images to guide
          treatment plans. We prioritize your pet&#039;s comfort throughout the
          process and ensure that any necessary follow-up care is provided for
          optimal health outcomes
        </div>
        <div class="infrared-light-theraphy">Infrared light theraphy</div>
        <div
          class="nfrared-light-therapy-is-a-revolutionary-treatment-that-promotes-healing-and-alleviates-pain-in-pets-this-non-invasive-therapy-uses-specific-wavelengths-of-light-to-penetrate-deep-into-tissues-enhancing-circulation-and-accelerating-the-body-s-natural-healing-processes-it-s-particularly-beneficial-for-pets-recovering-from-surgery-managing-chronic-pain-or-dealing-with-arthritis-and-other-musculoskeletal-issues-our-trained-staff-utilizes-this-advanced-therapy-to-provide-a-comfortable-and-relaxing-experience-for-your-furry-friends-helping-them-return-to-their-active-lifestyles-more-quickly"
        >
          nfrared light therapy is a revolutionary treatment that promotes healing
          and alleviates pain in pets. This non-invasive therapy uses specific
          wavelengths of light to penetrate deep into tissues, enhancing
          circulation and accelerating the body’s natural healing processes.
          It&#039;s particularly beneficial for pets recovering from surgery,
          managing chronic pain, or dealing with arthritis and other
          musculoskeletal issues. Our trained staff utilizes this advanced therapy
          to provide a comfortable and relaxing experience for your furry friends,
          helping them return to their active lifestyles more quickly.
        </div>
        <img class="image-31" src="./assets/image-310.png" />
        <div class="chemotherapy">Chemotherapy</div>
        <div
          class="our-chemotherapy-services-provide-a-compassionate-and-effective-approach-to-treating-cancer-in-pets-our-experienced-veterinary-team-is-dedicated-to-creating-personalized-treatment-plans-tailored-to-each-pet-s-specific-needs-we-utilize-advanced-protocols-and-the-latest-medications-to-target-cancer-cells-while-minimizing-side-effects-throughout-the-treatment-process-we-closely-monitor-your-pet-s-health-and-comfort-providing-supportive-care-to-enhance-their-quality-of-life-our-goal-is-to-help-your-furry-companions-fight-cancer-with-the-best-possible-outcomes-offering-hope-and-healing-during-a-challenging-time"
        >
          Our chemotherapy services provide a compassionate and effective approach
          to treating cancer in pets. Our experienced veterinary team is dedicated
          to creating personalized treatment plans tailored to each pet&#039;s
          specific needs. We utilize advanced protocols and the latest medications
          to target cancer cells while minimizing side effects. Throughout the
          treatment process, we closely monitor your pet&#039;s health and
          comfort, providing supportive care to enhance their quality of life. Our
          goal is to help your furry companions fight cancer with the best
          possible outcomes, offering hope and healing during a challenging time.
        </div>
        <img class="image-33" src="./assets/image-330.png" />
        <img class="image-35" src="./assets/image-350.png" />
      </div>
    </div>
    <div class="lowerbanner">
      <div class="lowerbanner">
        <div class="rectangle-25"></div>
        <div
          class="book-your-first-consultation-with-us-today-we-d-love-to-get-to-know-you-and-your-four-legged-family-member-whatever-your-pet-s-needs-may-be-count-on-us-to-deliver-the-top-care-options"
        >
          Book your first consultation with us today, we&#039;d love to get to
          know you and your four-legged family member! Whatever your pet’s needs
          may be, count on us to deliver the top care options.
        </div>
        <div class="book-a-reservation-today">Book a reservation today</div>
        <a href="contact.html" class="get-in-touch2">Get in touch</a>
        <img class="untitled-design-14-1" src="./assets/untitled-design-14-10.png" />
        <img class="untitled-design-15-1" src="./assets/untitled-design-15-10.png" />
        <img class="image-17" src="./assets/image-170.png" />
      </div>
    </div>
  </div>
  
  

  </section>
</body>
</html>
